{% extends 'food/base.html' %}
{% load static %}


    {% block content %}
        {% for item in item_list  %}
            <div class="row mt-3">
                <div class="col-md-3 offset-md-2">
                    <img card="card" height="150px" src="{{item.item_image}}" >
                </div>
                <div class="col-md-4">
                    <h3>{{item.item_name}}</h3>
                    <h5>{{item.item_desc}}</h5>
                    <h6>${{item.item_price}}</h6>
                    <h6>{{ item.user_name}}</h6>
                </div>
                <div class="col-md-2">
                    <a href="{% url 'detail' item.id %}" class="btn btn-success">Details</a>
                </div>
            </div>
        {% endfor %}

    {% endblock %}
   
